:root{
    --vermelho: #E50914;
    --preta: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--preta);
    font-family: 'Ubuntu', Times, serif;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    color: var(--vermelho);
    font-family: 'Arial Black', 'Ubuntu mono';
    font-size: 40px;
    margin-left: 5px;
}

header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}